@media screen and (max-width:780px) {
    body{
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .nice-game-section{
        padding: 0 20px;
    }
    .nav-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 0;
    }

    .nav-manue {
        margin-top: 10px;
        gap: 15px;
    }

    .nav-manue ul {
        padding: 10px 16px;
    }

    .nav-manue li a {
        font-size: 1.1rem;
    }

    /* banner tablet responsive */
    .banner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-left {
        margin-top: 70px;
    }

    /* banner-2 tablet responsive */
    .banner-2 {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
    }

    .banner2-right {
        text-align: center;
    }

    /* online games section responsive */
    .game-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        justify-content: center;
        justify-items: center;
        overflow-x: hidden;
        
    }
    .item1{
        width: 100%;
        margin-right: -55px;
    }
    .online-game h1 {
        font-size: 35px;
        font-weight: 600;
    }
    .online-game p{
        font-size: 14px;
    }
    .gam-cart h3{
        font-size: 16px;

    }
    /* play section responsive */
    .play-section-1{
        flex-direction: column;
        align-items: center;
    }
    .play-section-content, .play-section-content-2{
        text-align: center;
        width: 100%;
    }
    .play-section-content h1{
        font-size: 35px ;
        font-weight: 600;
    }
    .play-section-content p{
        text-align: center;
        font-size: 15px;
        margin-bottom: 30px;

    }
    .play-section-img{
        width: 100%;
    }
    .play-section-img .img-1{
        position: relative;
        right: -170px;
        max-width: 70%;
    }
    .play-section-img .img-2{
        position: absolute;
        left: 70px;
        bottom: -57px;
        max-width: 35%;
        
    }

    .play-section-2{
        flex-direction: column-reverse;
        align-items: center;
    }
  
    .play-section-content-2 h1{
        font-size: 35px ;
        font-weight: 600;
        margin: 0 auto;
        width: 320px;
    }
    .play-section-content-2 p{
        text-align: center;
        font-size: 15px;
        width: 350px;
        margin: 35px auto;


    }
    .play-section-img-3{
        width: 90%;
    }
    .play-section-img-2 .img-3{
        position: relative;
        right: -50px;
        max-width: 70%;
    }
    .play-section-img-2 .img-4{
        position: absolute;
        right: 35px;
        bottom: -75px;
        max-width: 35%;
        
    }
    /* career section tablet responsive */
    .career-section-container{
        flex-direction: column;
        align-items: center;
    }
    .career-content{
        width: 100%;
        padding: 100px 70px;
    }
    .career-img{
        width: 100%;
    }
    .career-img img{
        max-width: 100%;
        height: auto;
        padding-bottom: 80px;
    }
    .career-content h1{
        font-size: 35px;
    }
    .career-content p{
        font-size: 15px;
    }
    .inner-left h4{
        font-size: 15px;
    }
    .inner-right h4{
        font-size: 15px;
    }
    
    /* feature btn responsive */
    .feature-btn-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 50px;
        margin-bottom: 80px;
        box-sizing: border-box;
        gap: 10px;
      }
      .feature-btn img{
        width: 40px;
        height: 40px;
    }
    .feature-btn p{
        font-size: 14px;
        font-weight: 500;
        color:#0B0223 ;
    }

    /* footer tablet responsive */
    .footer-logo h3{
        font-size: 35px;
        font-weight: 600;
        
    }
    .footer-manue-1,.footer-manue-2 {
        gap: 25px;
    }
    .footer-manue-1 li a {
        font-size: 14px;
        font-weight: 500;
    }
    .social-icon{
        gap: 14px;
    }
    .footer-manue-2 li a{
        font-size: 14px;
    }
    .copyright-text{
        font-size: 15px;
    }
    .image-grid{
        gap: 5px;
       }
}



@media screen and (max-width:425px) {
    body{
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .nav-manue {
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin-bottom: 40px;
    }

    .nav-logo {
        margin-top: 60px;
    }

    /* banner mobile responsive */
    .banner-left h1 {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .banner-left ul li img {
        width: 6%;
        margin-right: 5px;
    }

    .banner-left ul li {
        font-size: 15px;
        font-weight: 400;
        margin: 25px 0;
    }

    .comon-button {
        padding: 12px 24px;
        font-size: 14px;

    }

    .banner-left h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .banner-right {
        padding-top: 10px;
    }

    /* banner-2 mobile responsive */

    .banner2-right h1 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .banner2-right p {
        font-size: 12px;
        color: #534C64;
        font-weight: 400;
        width: auto;
    }

    .banner2-right button {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .banner2-right h5 {
        font-size: 20px;
        font-weight: 600;
        color: #534C64;
    }

    .banner2-right h5 span {
        font-weight: 400;
    }

    .banner-2eft img {
        width: 100%;
    }
    .banner2-right{
        padding: 0 25px;
    }


    /* online game section mobile responsive */
    .game-container {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 5px;
        justify-content: center;
        justify-items: center;
        overflow-x: hidden;
        
    }
    .item1{
        width: 81%;
        margin-right: 0;
    }
    .online-game h1 {
        font-size: 22px;
        font-weight: 600;
    }
    .play-section-img-2{
        padding: 0 25px;
    }
    .online-game p{
        font-size: 11px;
        font-weight: 500;
    }
    .gam-cart h3{
        font-size: 14px;

    }
    /* play section mobile responsive */
    .play-section-img .img-1{
        position: relative;
        right: -70px;
        max-width: 80%;
    }
    .play-section-img .img-2{
        position: absolute;
        left: 10px;
        bottom: -30px;
        max-width: 40%;
        
    }
    .play-section-content h1{
        font-size: 25px ;
        font-weight: 600;
    }
    .play-section-content p{
        text-align: center;
        font-size: 12px;
        margin-bottom: 25px;
        font-weight: 600;

    }
    .play-section{
        margin-top: 80px;
    }


    .play-section-img-2 .img-3{
        position: relative;
        right: 10px;
        max-width: 90%;
    }
    .play-section-img-2 .img-4{
        position: absolute;
        right: -15px;
        bottom: -50px;
        max-width: 45%;
        
    }
    .play-section-content-2 h1{
        font-size: 25px ;
        font-weight: 600;
    }
    .play-section-content-2 p{
        text-align: center;
        font-size: 12px;
        margin-bottom: 25px;
        font-weight: 600;
        width: 250px;

    }
    .play-section-2{
        margin-top: 80px;
    }

    /* career section mobile responsive */
    .career-content{
        width: 100%;
        padding: 100px 0;
    }
    .career-content{
        padding: 50px 20px;
    }
    .career-content h1{
        font-size: 30px;
    }
    .career-content p{
        font-size: 12px;
        font-weight: 400;
    }
    .inner-left h4{
        font-size: 12px;
        font-weight: 500;
    }
    .inner-right h4{
        font-size: 12px;
        font-weight: 500;
    }
    .career-img img{
        max-width: 355px;
        height: auto;
    }

    /* feature btn mobile responsive */
    .feature-btn img{
        width: 25px;
        height: 25px;
    }
    .feature-btn p{
        font-size: 10px;
        font-weight: 400;
        color:#0B0223 ;
    }
    .feature-btn{
        gap: 5px;
    }
    .feature-btn-container{
        gap:0px;
        margin-top: 0px;
        margin-bottom: 50px;
          
      }

      /* footer mobile responsive */
      .footer-logo h3{
        font-size: 30px;
        font-weight: 600;
        
    }

    .footer-manue-1 {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        justify-items: center;
        
    }
    .footer-manue-1 li a {
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
    }
    .social-icon{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 20px;
        column-gap:5px;
    }
    .social-icon img{
        max-width: 22%;
    }
    .footer-manue-2 {
        display:grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .footer-manue-2 li a{
        font-size: 12px;
        font-weight: 400;
    }
    .copyright-text{
        font-size: 13px;
        font-weight: 400;
        width: 300px;
        margin: 0 auto;
    }

    .nice-game-section h1{
        font-size: 28px;
    }
   .nice-game-section p{
        font-size: 14px;
        font-weight: 400;
   }
   .image-grid{
    gap: 3px;
   }
   
}