@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9fc;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

/* header css */

nav {
    background-color: #fff !important;
    box-shadow: 8px 5px 20px rgba(167, 167, 167, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo h3 {
    color: #0B0223;
    font-size: 2.6rem;
}

.nav-logo h3 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-manue {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-manue li {
    list-style: none;
}

.nav-manue li a {
    color: #3C354F;
    font-size: 1.3rem;
    text-decoration: none;
    transition: .5s;
}

.nav-manue>li a:hover {
    color: #FF42A5;
}

.nav-manue ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding: 13px 17px;
    border-radius: 4px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-manue ul li {
    font-size: 1.2rem;
}

.youtube i {
    color: #F61C0D;
}

/* banner css */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left h3 {
    color: #0B0223;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.banner-left h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left ul {
    list-style: none;
}

.banner-left ul li {
    font-size: 1.4rem;
    color: #534C64;
    font-weight: 500;
    margin: 20px 0;
}

.comon-button {
    padding: 18px 40px;
    border-radius: 48px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
}
.comon-button a{
    text-decoration: none;
    color: #fff;
}

.button-1 {
    background-color: #ff42a5;
    margin-right: 20px;
}

.button-2 {
    background-color: #4ec5f7;
}

.banner-right img {
    width: 100%;
}

/* banner-2 css */
.banner-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.banner2-right {
    text-align: right;
}

.banner2-right h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner2-right p {
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
    width: 500px;
    line-height: 27px;
    margin: 20px 0;
}

.banner2-right button {
    margin-right: 0;
    margin-bottom: 15px;
}

.banner2-right h5 {
    font-size: 30px;
    font-weight: 700;
    color: #534C64;
}

.banner2-right h5 span {
    font-weight: 500;
}

.banner-2eft img {
    width: 100%;
}

/* online game section css */
.game-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.online-game {
    margin: 100px auto;
    text-align: center;
}
.online-game p{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-bottom: 40px;
}

.gam-cart {
    text-align: left;
}

.online-game h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 25px;
}

.online-game h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gam-cart h3{
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    line-height: 30px;
}
.games-2, .games-1 {
    display: flex;
    gap: 20px;
}

.hover-overlay img{
    display: block;
    height: auto;
}
.hover-overlay{
   position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.65);
    border-radius: 10px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}
.overlay img{
    position: absolute;
    top: 40%;
    left: 40%;
    transition: .7s;
}
.overlay p{
    position: relative;
    top: 55%;
    left: 30%;
    font-size: 20px;
    font-weight: 600;
    color: #F948B2;
    
}
.hover-overlay:hover .overlay{
    opacity: 1;
    border: 3px solid #F948B2;
} 
/* play section-1 css */
.play-section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-section-content{
    text-align: right;
    width: 35%;
}
.play-section-content h1{
    font-size: 48px ;
    font-weight: 700;
    color: #0B0223;
}
.play-section-content h1 span{
    color: #ea4abc;
}
.play-section-content p{
    line-height: 30px;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-top: 20px;
}
.play-section-img {
    position: relative;
}
.play-section-img .img-1{
    width: 100%;
}
.play-section-img .img-2{
    position: absolute;
    left: -150px;
    bottom: -70px;
    
}

/* play section 2 css */
.play-section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}
.play-section-content-2{
    text-align: left;
    width: 35%;
}
.play-section-content-2 h1{
    font-size: 48px ;
    font-weight: 700;
    color: #0B0223;
    width: 426px;
}
.play-section-content-2 h1 span{
    color: #ea4abc;
}
.play-section-content-2 p{
    line-height: 30px;
    text-align: left;
    width: 483px;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-top: 20px;
}
.play-section-img-2 {
    position: relative;
}
.play-section-img-2 .img-3{
    width: 90%;
}
.play-section-img-2 .img-4{
    position: absolute;
    right: -70px;
    bottom: -85px;
    
}

/* career section css */
.career-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 200px;
    margin-bottom: 100px;
}
.career-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-content{
    width: 50%;
}
.career-content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60xp;
    color: #fff;
}
.career-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin: 25px 0;
}
.career-content button{
    margin-top: 30px;
}
.career-content button a{
    color: #ff42a5;
}

.inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-left{
    text-align: left;
}
.inner-left h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
}
.inner-right{
    text-align: right;
}
.inner-right h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
}
.career-img{
    width: 50%;
}
.career-img img{
    width: 840px;
    height: auto;
}

/* feature btn section css */
.feature-btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 150px;
  margin-bottom: 100px;
    
}
.feature-btn{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px;
    transition: .5s;
    cursor: pointer;
}
.feature-btn:hover{
    border-color: #ff42a5;
    color: #ff42a5;
}
.feature-btn img{
    width: 60px;
    height: 60px;
}
.feature-btn p{
    font-size: 20px;
    font-weight: 600;
    color:#0B0223 ;
}

/* footer css */
footer{
    background-color: #0B0223;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.footer-logo h3{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    
}
.footer-logo h3 span{
    color: #ff42a5;
}
.footer-manue-1,.footer-manue-2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px 0;
}
.footer-manue-1 li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
}
.footer-manue-1 li a:hover{
    color: #ea4abc;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-manue-2 li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.copyright-text{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}