@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff9fc;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

/* header css */

nav {
    background-color: #fff !important;
    box-shadow: 8px 5px 20px rgba(167, 167, 167, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo h3 {
    color: #0B0223;
    font-size: 2.6rem;
}

.nav-logo h3 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-manue {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-manue li {
    list-style: none;
}

.nav-manue li a {
    color: #3C354F;
    font-size: 1.3rem;
    text-decoration: none;
    transition: .5s;
}

.nav-manue>li a:hover {
    color: #FF42A5;
}

.nav-manue ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding: 13px 17px;
    border-radius: 4px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-manue ul li {
    font-size: 1.2rem;
}

.youtube i {
    color: #F61C0D;
}

/* banner css */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left h3 {
    color: #0B0223;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.banner-left h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left ul {
    list-style: none;
}

.banner-left ul li {
    font-size: 1.4rem;
    color: #534C64;
    font-weight: 500;
    margin: 20px 0;
}

.comon-button {
    padding: 18px 40px;
    border-radius: 48px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.button-1 {
    background-color: #ff42a5;
    margin-right: 20px;
}

.button-2 {
    background-color: #4ec5f7;
}

.banner-right img {
    width: 100%;
}

/* banner-2 css */
.banner-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.banner2-right {
    text-align: right;
}

.banner2-right h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner2-right p{
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
    width: 500px;
    line-height: 27px;
    margin: 20px 0;
}
.banner2-right button{
    margin-right: 0;
    margin-bottom: 15px;
}
.banner2-right h5{
    font-size: 30px;
    font-weight: 700;
    color: #534C64;
}
.banner2-right h5 span{
    font-weight: 500;
}
.banner-2eft img{
    width: 100%;
}